{sys, [
       {lib_dirs, ["../deps"]},
       {rel, "b3nchm4rk", "1",
        [
         kernel,
         stdlib,
         sasl,
         epgsql_pool
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "b3nchm4rk"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, hipe, [{incl_cond, exclude}]},                  % Work-around required to get my app to start 
       {app, sasl, [{incl_cond, include}]},
       {app, epgsql_pool, [{incl_cond, include}]}
      ]}.

{target_dir, "b3nchm4rk"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/b3nchm4rk", "bin/b3nchm4rk"},
           {copy, "files/b3nchm4rk.cmd", "bin/b3nchm4rk.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.

{epgsql_pool,  [{pools, [postgres]},
                {postgres, {100, [{database, "postgres"}]}}
%                {pools, [db1, db2]},
%                {db1, {10, [{database, "db1"}]}},
%                {db2, {10, [{database, "db2"}]}}
               ]}.
