%%-*- mode: erlang -*-

{deps, [{webmachine, "1.9.*", {git, "git://github.com/basho/webmachine", "HEAD"}},
        {epgsql, ".*", {git, "git://github.com/wg/epgsql.git", {branch, "master"}}},
        {epgsql_pool, ".*", {git, "git://github.com/josephwecker/epgsql_pool.git", {branch, "master"}}}
       ]}.

{sub_dirs, ["rel"]}.


